@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.text-decoration-none {
  color: #5070d1;
}

.btn_white_bg:hover {
  background-color: #eaeff2;
}

.btn_blue_bg:hover {
  background-color: #3c5ab5;
}

.btn_white_bg {
  background: #fff;
  color: #5070d1;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
}

.btn_blue_bg {
  background: #5070d1;
  color: white;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
}

.carousel img {
  max-height: 800px;
  max-width: 75%;
  margin: 0 auto;
  opacity: 0.5;
  border-radius: 10px;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.help-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.help-icon:hover {
  transform: scale(1.2);
  transition: all 400ms;
}

input[type="text"] {
  width: 18.2rem;
}

input[type="submit"]:hover {
  border-color: #5070d1;
}

.logito {
  animation: move_vector 4s ease-in-out infinite;
}

@keyframes move_vector {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

.apps img:hover {
  transform: scale(1.05);
  transition: all 300ms;
}

.square_asunto {
  width: 18rem;
}
